# Build output
target/
build/
out/

#Webpack
WEB-MAC-CHAR/node_modules/*
WEB-MAC-CHAR/src/main/resources/static/bundle.*
WEB-MAC-CHAR/src/main/resources/static/common.*

# Gradle
/build/
/.gradle/
WEB-MAC-CHAR/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Package Files
*.jar
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/bin/

### MAC OS
.DS_Store

