# Build output
target/
build/
out/

# Gradle
/.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

# Package Files
*.jar
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
