body {
  background: url("/img/background_main.jpg");
}

.container {
  margin-left: 5%;
  margin-right: 20%;
  background: rgba(255, 255, 255, 0.6);
}

.navbar-default {
  background-color: #000;
  border-color: #000;
}

.container-fluid img {
  max-width: 40%;
}

#logout {
  color: #fff;
}

.option {
  margin: 20px;
}

.profile {
  float: right;
  width: 20%;
}

#profile_table {
  text-align: center;
}

.profile_image {
  content: url("/img/mafia_profile.jpg");
  width: 100%;
}

#rooms {
  width: 100%;
  text-align: center;
}

.eachRoom:hover {
  cursor: pointer;
}

.rooms_list {
  width: 70%;
  overflow: auto;
  overflow-y: scroll;
  height: 440px;
  overflow: auto;
}

#rooms th {
  text-align: center;
}

#make_room_form {
  top: 25%;
  left: 20%;
  margin: 6%;
  width: 40%;
  padding: 1%;
  display: none;
  background: #FFF;
  position: fixed;
  z-index: 10000;
  background: #FFF;
}

#dimmer {
  background: #000;
  opacity: 0.5;
  position: absolute; /* important to use fixed, not absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999; /* may not be necessary */
}