/* layout */
body {
  background: url("../img/background_main.jpg") fixed center;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

#container {
  height: 100%;
}

header {
  height: 64px;
  background-color: #000;
}

.logo {
  float: left;
  margin-top: 16px;
  margin-left: 16px;
}

.logo img {
  width: 96px;
}

nav {
  float: right;
  margin-top: 24px;
  margin-right: 34px;
  color: #ffffff;
}

.exit_button {
  margin-top: -5px;
  background: transparent;
  color: #ffffff;
  border: transparent;
  font-size: 16px;
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
}

.flexible {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.left_container {
  flex-grow: 9;
}

.right_container {
  flex-grow: 1;
}

footer {
  height: 64px;
  background-color: #000;
}

.room_description {
  display: inline-block;
  margin: 20px 36px;
  font-size: 20px;
  color: #fff;
}

.room_description span {
  padding: 0px 6px;
}

/* common layout */
.right_container_top_elm_layout {
  margin: 8px;
  height: 80px;
}

.right_container_bottom_elm_layout {
  margin: 8px;
  height: 170px;
}

/* style */
/* top_left_container */
.slot_layout {
  position: relative;
  margin: 0px 8px;
  flex-grow: 1;
  height: 120px;
  background-color: rgba(255, 255, 255, .7);
}

.player_description img {
  width: 96px;
}

.player_name {
  position: absolute;
  left: 112px;
  top: 16px;
  color: #000;
  font-size: 20px;
}

.player_status {
  position: absolute;
  left: 55%;
  top: 85px;
  font-size: 20px;
  color: #C80006;
}

.player_not_ready {
  display: none;
}

/* top_right_container */
.game_status {
  text-align: center;
  font-size: 32px;
  padding-top: 24px;
  border-radius: 20px;
  transition: all 0.3s;
}

.game_status:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #C80006;
  cursor: pointer;
  transition: all 0.3s;
}

.game_status.timer_started:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: default;
}

.ready_status {
  background-color: rgba(255, 255, 255, 0);
  color: #C80006;
  border: 2px solid #C80006;
  border-radius: 3px;
}

.timer {
  margin: auto;
  padding-top: 40px;
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  color: #C80006;
}

/* bottom_left_container */
.chatting_history {
  margin: 8px;
  width: 98%;
  opacity: .5;
  font-size: 16px;
  line-height: 160%;
}

.chatting_input {
  margin-bottom: 12px;
}

.chat {
  margin: 0px 8px;
  width: 98%;
  height: 24px;
  font-size: 24px;
}

/* bottom_right_container */
.player_role_description {
  margin: auto;
  text-align: center;
  font-size:18px;
  padding: 30px;
}

.player_role {
  color: #C80006;
  font-weight: bolder;
}

.player_mission_title {
  padding: 12px;
  background-color: #FFF;
  color: #C80006;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
}

.player_mission_description {
  margin: auto;
  padding: 12px;
  width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.elm_background_style {
  background-color: rgba(255, 255, 255, .5);
}
